            <div class="tabs-outer">
            	<a href="javascript:void(0);" title="Menu" class="toggleMenuButton"></a>
            	<ul class="tabs">
            		<!--<li id="faq-link"><a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}"><span>{L_FAQ}</span></a></li>-->
            		<!-- IF S_DISPLAY_MEMBERLIST --><li id="members-link"><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}"><span>{L_MEMBERLIST}</span></a></li>
                    <li id="create-link"><a href="/signature" title="Create a Sig" target="_new"><span>Create a Sig</span></a></li><!-- ENDIF -->

                        <!-- Add tabs below -->
<!--                        <li id="contacts-link"><a href="/board/viewforum.php?f=40"><span>Feedback</span></a></li>
-->						<li id="donate-link"> <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GYJWJEWBCT2P2" title="Donate to Enthst" target="_blank"> <span>Donate</span> </a> </li>
                  
            	</ul>
            </div>
